<!Doctype html>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <link href="css/addons-pro/steppers.css" rel="stylesheet">
    <link href="css/addons-pro/steppers.min.css" rel="stylesheet">

    <script type="text/javascript" src="js/addons-pro/stepper.js"></script>
    <script type="text/javascript" src="js/addons-pro/stepper.min.js"></script>
</head>
<body>
    <a href="@Url.Action("create","mission")"> add mission</a>
    <div class="row animate-box">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">

                    <form class="form-inline qbstp-header-subscribe">
                        <div class="col-three-forth">
                            <div class="form-group">
                                <div>
                                    @Html.TextBox("recherche", "", new { @class = "form-control", placeholder = "Search by somthing" })

                                </div>

                            </div>
                        </div>
                        <div class="col-one-third">
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary">Search Now</button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <table id="demoGrid" class="table  table table-hover dt-responsive nowrap" width="100 %" cellspacing="0">
        <thead>
            <tr>
                <th class="bg-cyan">refrence</th>
                <th class="bg-cyan">date</th>
                <th class="bg-cyan">subject</th>
                <th class="bg-cyan">description</th>
                <th class="bg-cyan">place</th>
                <th class="bg-cyan">estimation</th>
                <th class="bg-cyan">isProvidedAccd</th>
                <th class="bg-cyan">isProvidedTrsp</th>
                <th class="bg-cyan">datedebut</th>
                <th class="bg-cyan">datefin</th>
                <th class="bg-cyan">skill Required</th>

                <th class="bg-cyan">Action</th>


            </tr>
        <thead>
            @foreach (var p in ViewBag.result)
            {
                <tr>
                    <th>@p.refrence</th>
                    <th>@p.date</th>
                    <th>@p.subject</th>
                    <th>@p.description</th>
                    <th>@p.place</th>
                    <th>@p.estimation</th>
                    <th>@p.isProvidedAccd</th>
                    <th>@p.isProvidedTrsp</th>
                    <th>@p.datedebut</th>
                    <th>@p.datefin</th>
                    <th>@p.skillsRequired</th>


                    <th>
                        @Html.ActionLink("Details", "Details", new { id = p.refrence }) |
                        @Html.ActionLink("get the expances on mail", "mail", "Expances", new { id = p.refrence }, null) |
                        @Html.ActionLink("missionExpnce", "missionExpnce",  new { id = p.refrence })

                    </th>

                </tr>

            }
    </table>

    <script>

        $('#demoGrid').dataTable({
            "language": {
                "search": "Rechercher",
                "lengthMenu": "Afficher _MENU_ chargés par page",
                "info": "Page: _PAGE_ / _PAGES_",
                "paginate": {
                    "next": "Suivante",
                    "previous": "Précédente"
                }
            }
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5dde8933d96992700fc9851d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>


