@model Piiii.domain.missionexpenses

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>missionexpenses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mission.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mission.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalRecovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalRecovered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kilomtrage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kilomtrage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
           
        </div>
    }
</div>
